<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2.1__FillingRect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCE3F0581D2A0292002825FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCE3F06C1D2A0292002825FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCE3F0771D2A0292002825FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
